/**
 *   This is sample theme constant. Modify it as per your website
 */

$white: #ffffff;
$black: #000000;
$blue1: #004585;
$blue2: #3888c4;
$blue3: #3d94d1;
$blue4: #44a4e3;
$blue5: #50c1ff;
$blue6: #59d8ff;
$green1: #006212;
$green2: #30ca2c;
$green3: #37cb5f;
$green4: #74cf70;

