/**
 *   This is sample theme constant. Modify it as per your website
 */

//COLOURS
$white: #ffffff  ;
$black: #000000;

//PRIMARY COLOURS
$blue1: #1D5FAA;
$blue2: #3D81C3;
$blue3: #54C8E2;
$blue4: #BAE0EB;

$blue5: #50c1ff;
$blue6: #59d8ff;

//SECONDARY COLOURS
$grey1: #767777;
$grey2: #919292;
$grey3: #ADADAD;
$grey4: #C8C9C9;

$grey5: #C8C9C9;
$grey6: #f8f8f8;

$green1: #006212;
$green2: #30ca2c;
$green3: #37cb5f;
$green4: #74cf70;


$header-height: 55px;

//spacer
