<% include /global-includes/html-header.ejs %>

    <body>
        <% include /global-includes/xt-header.ejs %>
            <div class="content-wrapper xt-behind">
            <h2 class="heading"> BEHIND THE SCENE </h2>
                <div class="row row-card align-middle">
                    <div class="column small-3 large-3 align-self-middle">
                        <img class= "image" src="http://lorempixel.com/400/400/nature/2" />
                    </div>
                    <div class="column small-9 large-9 align-self-middle">
                      <h2 class="name"> Deepjyot Kaur </h2>
                      <div class="description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </div>
                      <div class="links">
                        <span class="line"> Github Link </span>
                        <span class="line"> dkaur5@sapient.com </span>
                        <span> +91- 8860602710 </span>
                      </div>
                    </div>
                </div>
            </div>
            <% include /global-includes/xt-footer.ejs %>
    </body>

    </html>
