<% include /global-includes/html-header.ejs %>

  <body>
    <% include /global-includes/xt-header.ejs %>
      <div class="page-wrapper">
        <div class="row">
          <div class="column">
            <section class="page-heading">
              <h2>CREDITS</h2>
            </section>
            <section class="page-container animated bounceInUp">
              <div class="row small-up-1 medium-up-3 large-up-4">
                <div class="column column-block">
                  <div class="flip-box">
                    <div class="object">
                      <div class="front">
                        <div class="credit-img">
                          <img src="../images/manjari.jpg">
                        </div>
                        <div class="credit-corner">
                          Manjari Prithani
                        </div>
                      </div>
                      <div class="back">
                        <div class="flip-content">
                          <div class="credit-thumb">
                            <img src="../images/manjari.jpg">
                          </div>
                          <div class="credit-detail">
                            Manjari Prithani
                            <br>Associate eXperience Technology
                            <br>mprithani@sapient.com
                          </div>
                        </div>
                      </div>
                      <div class="flank flank-left">l</div>
                      <!-- <div class="flank flank-right">r</div> -->
                    </div>
                  </div>
                </div>
                <div class="column column-block">
                  <div class="flip-box">
                    <div class="object">
                      <div class="front">
                        <div class="credit-img">
                          <img src="../images/gaurav.jpg">
                        </div>
                        <div class="credit-corner">
                          Gaurav Narang
                        </div>
                      </div>
                      <div class="back">
                        <div class="flip-content">
                          <div class="credit-thumb">
                            <img src="../images/gaurav.jpg">
                          </div>
                          <div class="credit-detail">
                            Gaurav Narang
                            <br>Senior Associate eXperience Technology
                            <br>gnarang2@sapient.com
                          </div>
                        </div>
                      </div>
                      <div class="flank flank-left">l</div>
                      <!-- <div class="flank flank-right">r</div> -->
                    </div>
                  </div>
                </div>
                <div class="column column-block">
                  <div class="flip-box">
                    <div class="object">
                      <div class="front">
                        <div class="credit-img">
                          <img src="../images/manish.jpg">
                        </div>
                        <div class="credit-corner">
                          Manish Kumar Sharma
                        </div>
                      </div>
                      <div class="back">
                        <div class="flip-content">
                          <div class="credit-thumb">
                            <img src="../images/manish.jpg">
                          </div>
                          <div class="credit-detail">
                            Manish Kumar Sharma
                            <br>Senior Associate eXperience Technology
                            <br>msharma69@sapient.com
                          </div>
                        </div>
                      </div>
                      <div class="flank flank-left">l</div>
                      <!-- <div class="flank flank-right">r</div> -->
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <% include /global-includes/xt-footer.ejs %>
  </body>

  </html>
