<% include /global-includes/html-header.ejs %>

  <body>
    <% include /global-includes/xt-header.ejs %>
      <div class="page-wrapper">
        <div class="row">
          <div class="column">
            <div class="page-heading">
              <h2>FAQ</h2>
            </div>
            <div class="page-container animated bounceInUp">
              <section class="xt-accordion">
                <div>
                  <input id="ac-1" name="accordion-1" type="checkbox" />
                  <label for="ac-1">What is XT SUMMIT?</label>
                  <article class="ac-small">
                    <ul>
                      <li><strong>Vision... Excellence... Collaborate... Sharing Knowledge... Share Experience...</strong>
                        <p>XTSUMMIT is the Platform where people can come showcase their talent; talk about their work; share their experience and also listen as to what is going on; what is the vision; where do we need to go.</p>
                      </li>
                      <li><strong>!(ng || React)???</strong>
                        <P>This year’s theme is: not Angular and not React!</P>
                      </li>
                    </ul>
                  </article>
                </div>
                <div>
                  <input id="ac-2" name="accordion-1" type="checkbox" />
                  <label for="ac-2">Important Dates</label>
                  <article class="ac-medium">
                    <ul>
                      <li>Deadline for submitting the Topic: 15th May</li>
                      <li>Review of the Presentation/Deck: 23rd May</li>
                      <li>Dry Runs: 31st May until 02nd June (Bangalore) & 14th June until 16th June (Gurgaon)</li>
                      <li>XTSummit Bangalore: 9th June, 2017, 9:00 am to 6:00 pm</li>
                      <li>XTSummit NCR in Gurgaon: 23rd June 2017, 9:00 am to 6:00 pm</li>
                      <li>The venue details will be in your inbox soon</li>
                    </ul>
                  </article>
                </div>
                <div>
                  <input id="ac-3" name="accordion-1" type="checkbox" />
                  <label for="ac-3">For the Presenters... come become one, submit your talk</label>
                  <article class="ac-large">
                    <ul>
                      <li><strong>Interested in speaking on !(ng || React)?</strong>
                        <p>Please submit your topic here. Please note: Last date for submission of topics is: 15th May Yes, we will have multiple dry runs planned in order to help you structure the presentation and plan the demo as per the duration.</p>
                      </li>
                      <li><strong>Submission Type</strong>
                        <p>Showcase: 10 mins Presentation; 10 mins demo Flash Talk: 15 mins</p>
                      </li>
                      <li><strong>Selection Criterion</strong>
                        <p>We need to ensure that the topic is relevant as per the theme. The best entries will be selected and duly informed.</p>
                      </li>
                      <li><strong>For any more specific needs around your presentation:</strong>
                        <p>Mention in the requirement sections while submitting and the XTSummit core team from each location will help you for the same basis the selection criteria</p>
                      </li>
                      <li><strong>I need a mentor/consultation for my topic?</strong>
                        <p>Yes, we will have team who will review the topics and help you revamp your presentations. Also planned to have multiple dry runs planned in order to help you structure and formalize your presentation/talk and plan the demo as per the duration.</p>
                      </li>
                    </ul>
                  </article>
                </div>
                <div>
                  <input id="ac-4" name="accordion-1" type="checkbox" />
                  <label for="ac-4">Join Us</label>
                  <article class="ac-large">
                    <ul>
                      <li><strong>Join the core Team?</strong>
                        <p>Kindly reach out to Bhumika Sharma for Bangalore and Deepjyot Kaur for NCR.</p>
                      </li>
                      <li><strong>Need a PID to be used for time tracking &amp; transport request?</strong>
                        <p>PID 90575 and task as XTSummit and same as for TMS and please do not forget to change the location manually from top right hand side</p>
                      </li>
                      <li><strong>I have more questions</strong>
                        <p>Post your questions/comments on this page or write to XTIndiaCommunication</p>
                      </li>
                    </ul>
                  </article>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <% include /global-includes/xt-footer.ejs %>
  </body>

  </html>
