<% include /global-includes/html-header.ejs %>

  <body>
    <% include /global-includes/xt-header.ejs %>
      <div class="page-wrapper">
        <div class="row">
          <div class="column">
            <section class="page-heading">
            <h2>Things to learn</h2>
            </section>
            <section class="page-content animated bounceInUp">
            <div class="word-cloud-wrapper">
            <div class="word-cloud">
              <span class="w-1 fz-8x">html5</span>
              <span class="w-2 fz-8x">css3</span>
              <span class="w-3 fz-4x">foundation</span>
              <span class="w-4 fz-7x">scss</span>
              <span class="w-5 fz-4x">tabs</span>
              <span class="w-6 fz-3x">accordion</span>
              <span class="w-7 fz-2x">carousel</span>
              <span class="w-8 fz-3x">parallax</span>
              <span class="w-9 fz-5x">animation</span>
              <span class="w-10 fz-3x">transform</span>
              <span class="w-11 fz-3x">transition</span>
              <span class="w-12 fz-5x">flexbox</span>
              <span class="w-13 fz-3x">grid</span>
              <span class="w-14 fz-4x">boxshadow</span>
              <span class="w-15 fz-4x">textshadow</span>
            </div>
            </div>
            </section>
          </div>
        </div>
      </div>
      <% include /global-includes/xt-footer.ejs %>
  </body>

  </html>
