<% include /global-includes/html-header.ejs %>

  <body>
    <% include /global-includes/xt-header.ejs %>
      <div class="content-wrapper">
        <div class="row">
          <div class="column">
            <section class="xt-media-container">
              <input id="select-type-all" name="radio-set-1" type="radio" class="xt-media-selector-all" checked="checked" />
              <label for="select-type-all" class="xt-media-label-all">All</label>
              <input id="select-type-1" name="radio-set-1" type="radio" class="xt-media-selector-1" />
              <label for="select-type-1" class="xt-media-label-1">Web Design</label>
              <input id="select-type-2" name="radio-set-1" type="radio" class="xt-media-selector-2" />
              <label for="select-type-2" class="xt-media-label-2">Illustration</label>
              <input id="select-type-3" name="radio-set-1" type="radio" class="xt-media-selector-3" />
              <label for="select-type-3" class="xt-media-label-3">Icon Design</label>
              <div class="clearfix"></div>
              <ul class="xt-media-items">
                <li class="xt-media-item-2">
                  <a href="#">
                    <span>Chameleon</span>
                    <img src="http://lorempixel.com/160/120/nature/1" />
                  </a>
                </li>
                <li class="xt-media-item-1">
                  <a href="#">
                    <span>Tutorials (wip)</span>
                    <img src="http://lorempixel.com/160/120/nature/2" />
                  </a>
                </li>
                <li class="xt-media-item-2">
                  <a href="#">
                    <span>Flower</span>
                    <img src="http://lorempixel.com/160/120/nature/3" />
                  </a>
                </li>
                <li class="xt-media-item-1">
                  <a href="#">
                    <span>Symplas website</span>
                    <img src="http://lorempixel.com/160/120/nature/4" />
                  </a>
                </li>
                <li class="xt-media-item-3">
                  <a href="#">
                    <span>TRON: Mobile version</span>
                    <img src="http://lorempixel.com/160/120/nature/5" />
                  </a>
                </li>
                <li class="xt-media-item-2">
                  <a href="#">
                    <span>Cake</span>
                    <img src="http://lorempixel.com/160/120/nature/6" />
                  </a>
                </li>
                <li class="xt-media-item-1">
                  <a href="#">
                    <span>Tailoring accessories</span>
                    <img src="http://lorempixel.com/160/120/nature/5" />
                  </a>
                </li>
                <li class="xt-media-item-3">
                  <a href="#">
                    <span>App icon</span>
                    <img src="http://lorempixel.com/160/120/nature/7" />
                  </a>
                </li>
                <li class="xt-media-item-1">
                  <a href="#">
                    <span>Event Planning</span>
                    <img src="http://lorempixel.com/160/120/nature/8" />
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
      <% include /global-includes/xt-footer.ejs %>
  </body>

  </html>