<% include /global-includes/html-header.ejs %>

  <body>
    <% include /global-includes/xt-header.ejs %>
      <div class="page-wrapper">
        <div class="row">
          <div class="column">
          <div class="page-heading">
            <h2>Gallery</h2>
          </div>
          <div class="page-container">
            <section class="xt-media-container">

              <!-- <label for="mediaSelectYear2015" class="">2015</label>
              <input id="mediaSelectYear2015" name="mediaSelectYear" type="radio" class="" />

              <label for="mediaSelectYear2016" class="xt-media-label-1">2016</label>
              <input id="mediaSelectYear2016" name="mediaSelectYear" type="radio" class="xt-media-selector-2" />

              <label for="mediaSelectYear2017" class="xt-media-label-2">2017</label>
              <input id="mediaSelectYear2017" name="mediaSelectYear" type="radio" class="xt-media-selector-3" />

              <div id="media2015">2015</div>
              <div id="media2016">2016</div>
              <div id="media2017">2017</div> -->


              <input id="mediaSelectYear2015" name="mediaSelectYear" type="radio" class="xt-media-selector-1" checked />
              <label for="mediaSelectYear2015" class="xt-media-label-1">2015</label>

              <input id="mediaSelectYear2016" name="mediaSelectYear" type="radio" class="xt-media-selector-2" />
              <label for="mediaSelectYear2016" class="xt-media-label-2">2016</label>

              <input id="mediaSelectYear2017" name="mediaSelectYear" type="radio" class="xt-media-selector-3" />
              <label for="mediaSelectYear2017" class="xt-media-label-3">2017</label>

              <div class="clearfix"></div>
              <ul class="xt-media-items">
                <li class="media-year-2015">
                  <a href="#">
                    <span>Chameleon</span>
                    <img src="http://lorempixel.com/160/120/nature/1" />
                  </a>
                </li>
                <li class="media-year-2015">
                  <a href="#">
                    <span>Tutorials (wip)</span>
                    <img src="http://lorempixel.com/160/120/nature/2" />
                  </a>
                </li>
                <li class="media-year-2016">
                  <a href="#">
                    <span>Flower</span>
                    <img src="http://lorempixel.com/160/120/nature/3" />
                  </a>
                </li>
                <li class="media-year-2016">
                  <a href="#">
                    <span>Symplas website</span>
                    <img src="http://lorempixel.com/160/120/nature/4" />
                  </a>
                </li>
                <li class="media-year-2017">
                  <a href="#">
                    <span>TRON: Mobile version</span>
                    <img src="http://lorempixel.com/160/120/nature/5" />
                  </a>
                </li>
                <li class="media-year-2017">
                  <a href="#">
                    <span>Cake</span>
                    <img src="http://lorempixel.com/160/120/nature/6" />
                  </a>
                </li>
              </ul>
            </section>
            </div>
          </div>
        </div>
      </div>
      <% include /global-includes/xt-footer.ejs %>
  </body>

  </html>