<% include /global-includes/html-header.ejs %>

  <body>
    <% include /global-includes/xt-header.ejs %>
      <div class="page-wrapper">
        <div class="row">
          <div class="column">
            <div class="page-heading">
              <h2>Media</h2>
            </div>
            <div class="page-container animated bounceInUp">
              <section class="xt-media-container">
                <input id="mediaSelectYearAll" name="mediaSelectYear" type="radio" class="xt-media-selector-all" checked />
                <label for="mediaSelectYearAll" class="xt-media-label-all">All</label>

                <input id="mediaSelectYear2017" name="mediaSelectYear" type="radio" class="xt-media-selector-1" />
                <label for="mediaSelectYear2017" class="xt-media-label-1">2017</label>

                <input id="mediaSelectYear2016" name="mediaSelectYear" type="radio" class="xt-media-selector-2" />
                <label for="mediaSelectYear2016" class="xt-media-label-2">2016</label>

                <input id="mediaSelectYear2015" name="mediaSelectYear" type="radio" class="xt-media-selector-3" />
                <label for="mediaSelectYear2015" class="xt-media-label-3">2015</label>

                <div class="clearfix"></div>
                <ul class="xt-media-items">
                  <li class="media-year-2015">
                    <a href="#">
                      <img src="../images/media_1.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2015">
                    <a href="#">
                      <img src="../images/media_2.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2016">
                    <a href="#">
                      <img src="../images/media_3.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2016">
                    <a href="#">
                      <img src="../images/media_4.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2016">
                    <a href="#">
                      <img src="../images/media_5.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2016">
                    <a href="#">
                      <img src="../images/media_6.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2017">
                    <a href="#">
                      <img src="../images/media_7.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2017">
                    <a href="#">
                       <img src="../images/media_8.jpg" />
                    </a>
                  </li>
                  <li class="media-year-2017">
                    <a href="#">
                       <img src="../images/media_9.jpg" />
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
      <% include /global-includes/xt-footer.ejs %>
  </body>

  </html>
