<% include /global-includes/html-header.ejs %>

<body class="page-secondary page-register">
    <% include /global-includes/header.ejs %>
    <div class="container page-content">
        <h1>Nav</h1>
        <div id="cubemenu">
		  <div class="scene">
		      <input type="checkbox" class="profile">
		  	
			  <div class="cube">
			    <div class="side front">
			      <div class="guides"></div>
				      <ul>
					      <li>FRONT</li>
					      <li>FRONT2</li>
					      <li>FRONT3</li>
					      <li><a href="#one">Profile</a></li>
				      </ul>
			    </div>
			    <div class="side bottom" id="one">
			      <div class="guides"></div>
			      <span>BOTTOM</span>
			    </div>
			    
			  </div>
			</div>
</div>

				<h1>Rotating 3d Cube Menu</h1>
				<nav id="menu">
				  <ul>
				    <li>Hover Over Me.
				      <ul>
				        <li>Scroll Down.</li>
				        <li>There are more of us.</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				        <li>Sub-Menu Item</li>
				      </ul>
				    </li>
				    <li>I'm the second Menu Item
				      <ul>
				        <li>Sub-Menu 2 Item</li>
				        <li>Sub-Menu 2 Item</li>
				        <li>Sub-Menu 2 Item</li>
				        <li>Sub-Menu 2 Item</li>
				        <li>Sub-Menu 2 Item</li>
				      </ul>
				    </li>
				    <li>I'm the BEST Menu Item
				      <ul>
				        <li>Sub-Menu 3 Item</li>
				        <li>Sub-Menu 3 Item</li>
				        <li>Sub-Menu 3 Item</li>
				      </ul>
				    </li>
				    <li>I Don't Like Being on the Bottom...
				      <ul>
				        <li>It's just me in here</li>
				      </ul>
				    </li>
				  </ul>
				</nav>


			
    </div>
    <% include /global-includes/footer.ejs %>
    <% include /global-includes/footer-library.ejs %>

</body>
</html>
