<% include /global-includes/html-header.ejs %>
  <style type="text/css" media="screen">
  body {
    background-position: 100% 0, bottom left;
  }

  .xt-hero {
  	padding: 50px 0;
  	border-right: 2px solid #1D5FAA;
  }
  h1 {
  	font-size: 72px;
  	text-transform: uppercase;
  }

  </style>

  <body>
    <div class="page-wrapper">
      <div class="row">
        <div class="column">
          <div class="page-container animated bounceInUp">
            <div class="row align-middle ">
              <div class="column small-12 medium-6">
                <div class="xt-hero">
                  <div class="xt-logo">
                    <span class="logo-img"></span>
                    <span class="logo-text">summit</span>
                    <span class="logo-year">2017</span>
                  </div>
                </div>
              </div>
              <div class="column small-12 medium-6">
                <h1><a href="xt-slide_2.html">CSS Playground</a></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>
