<section class="component-wrapper xt-hero">
  <div class="row">
    <div class="column">
      <section class="component-content">
        <div class="row align-middle ">
          <div class="column small-12 medium-7">
            <div class="animated bounceInLeft">
              <div class="xt-logo">
                <span class="logo-img"></span>
                <span class="logo-text">summit</span>
                <span class="logo-year">2017</span>
              </div>
              <div class="sub-title">inspire. innovate. experience.</div>
              <div class="sub-text">An annual eXperience Technology festival.</div>
            </div>
            <div class="row summit-detail animated bounceInDown">
              <div class="column small-3">
                <span class="summit-place">Bangalore</span>
                <span class="summit-date"><i class="fa fa-calendar-o"></i><span class="date">09</span>June</span>
              </div>
              <div class="column small-3">
                <span class="summit-place">Gurgaon<span>
                <span class="summit-date"><i class="fa fa-calendar-o"></i><span class="date">23</span> June</span>
              </div>
            </div>
          </div>
          <div class="column small-12 medium-5">
            <div class="card animated bounceInRight">
              <div class="card-section">
                <h2>Be a part of Summit</h2>
                <p>Sign in to submit topics, see the events and sessions.</p>
                <a href="xt-registor.html" class="button medium">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
