<section class="component-wrapper">
  <div class="row expanded">
    <div class="column">
      <section class="component-heading">
        <h3>Trending Topics</h3>
      </section>
      <section class="component-content">
        sss
      </section>
    </div>
  </div>
</section>
