<section class="component-wrapper trending-topics clear-m">
  <div class="row align-middle">
    <div class="column small-12 large-4">
      <section class="component-heading">
        <h3>Trending Topics</h3>
      </section>
    </div>
    <div class="column small-12 large-8">
      <section class="component-content">
        <div class="row small-up-1 medium-up-2">
          <div class="column flex-container">
            <div class="card">
              <div class="card-section">
                <h6>Introduction to Aurelia</h6>
                <p>This session gives an introduction to Aurelia, a JavaScript client framework for mobile, desktop and web leveraging simple conventions and empowering creativity.</p>
              </div>
              <div class="card-divider">
                <span class="label info">Gurgaon <i class="fa fa-external-link"></i></span>
                <span class="label info">Tech Connect <i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="column flex-container">
            <div class="card">
              <div class="card-section">
                <h6>New XT Summit Website</h6>
                <p>We will create a new XT Summit website that will carries all information of XT Summit.</p>
              </div>
              <div class="card-divider">
                <span class="label info">Gurgaon <i class="fa fa-external-link"></i></span>
                <span class="label info">Tech Connect <i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="column flex-container">
            <div class="card">
              <div class="card-section">
                <h6>Node Red- A visual tool for wiring the Inte</h6>
                <p>Node-Red in its simplest form is an open source visual editor for wiring the internet of things produced by IBM. What does this mean?</p>
              </div>
              <div class="card-divider">
                <span class="label info">Gurgaon <i class="fa fa-external-link"></i></span>
                <span class="label info">Tech Connect <i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="column flex-container">
            <div class="card">
              <div class="card-section">
                <h6>Node Red- A visual tool for wiring the Inte</h6>
                <p>Node-Red in its simplest form is an open source visual editor for wiring the internet of things produced by IBM. What does this mean?</p>
              </div>
              <div class="card-divider">
                <span class="label info">Gurgaon <i class="fa fa-external-link"></i></span>
                <span class="label info">XT Summit <i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
