// put your layout like two column, three-column layout information here
body{
    min-height: 1500px;
}

.footer{
    background: url("../images/footer-back.png") no-repeat 0 bottom transparent;
    background-size: 60%;
    min-height: 600px;
}

.page-secondary{
    background: url("../images/header-back.png") no-repeat right top transparent;

    background-size: 60%;
    .page-content{
        margin-top:100px;
    }
}

.logo{
    background: url("../images/logo.png") no-repeat center center transparent;
    width:100px;
    height:100px;
    background-size: contain;
    margin:40px 60px 0 0;

}


