body {
  padding-top: 86px;
}

.main-header {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid lightskyblue;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  .logo {
    float: left;
    .logo-img {
      background: url("../images/logo.png") no-repeat center center transparent;
      width: 90px;
      height: 45px;
      background-size: contain;
      display: block;
    }
    .logo-text {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  
}
