.sp-slideshow {
  position: relative;
  margin: 0 0 10px 0;
  width: 100%;
  max-width: 1500px;
  min-width: 260px;
  height: 650px;
}

.sp-content {
  background: #7d7f72;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sp-parallax-bg {
  background: url(../images/map.png) repeat-x scroll 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sp-slideshow input {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  z-index: 1001;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  + label {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 6px;
    height: 6px;
    display: block;
    z-index: 1000;
    border: 3px solid #fff;
    border: 3px solid rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
  }
  &:checked + label {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.sp-selector-1,
.button-label-1 {
  margin-left: -36px;
}

.sp-selector-2,
.button-label-2 {
  margin-left: -18px;
}

.sp-selector-4,
.button-label-4 {
  margin-left: 18px;
}

.sp-selector-5,
.button-label-5 {
  margin-left: 36px;
}

.sp-arrow {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 38px;
  margin-top: -19px;
  display: none;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1000;
  background: transparent url(../images/arrows.png) no-repeat;
  -webkit-transition: opacity linear 0.3s;
  -moz-transition: opacity linear 0.3s;
  -o-transition: opacity linear 0.3s;
  -ms-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
  &:hover {
    opacity: 1;
  }
  &:active {
    margin-top: -18px;
  }
}

.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
  right: 15px;
  display: block;
  background-position: top right;
}

.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
  left: 15px;
  display: block;
  background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
  transition: background-position linear 0.6s, background-color linear 0.8s;
  .sp-parallax-bg {
    transition: background-position linear 0.7s;
  }
}

input {
  &.sp-selector-1:checked ~ .sp-content {
    background-position: 0 0;
    background-color: #51c3ff;
  }
  &.sp-selector-2:checked ~ .sp-content {
    background-position: -100px 0;
    background-color: #0292de;
  }
  &.sp-selector-3:checked ~ .sp-content {
    background-position: -200px 0;
    background-color: #006ca4;
  }
  &.sp-selector-4:checked ~ .sp-content {
    background-position: -300px 0;
    background-color: #0074af;
  }
  &.sp-selector-5:checked ~ .sp-content {
    background-position: -400px 0;
    background-color: #004b71;
  }
  &.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
  }
  &.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
  }
  &.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
  }
  &.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
  }
  &.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
  }
}

.sp-slider {
  position: relative;
  left: 0;
  width: 500%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: left ease-in 0.8s;
  > li {
    color: #fff;
    width: 20%;
    box-sizing: border-box;
    height: 100%;
    padding: 0 60px;
    float: left;
    text-align: center;
    opacity: 0.4;
    transition: opacity ease-in 0.4s 0.8s;
    img {
      box-sizing: border-box;
      display: block;
      margin: 0 auto;
      padding: 40px 0 50px 0;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

input {
  &.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
  }
  &.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
  }
  &.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
  }
  &.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
  }
  &.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
  }
  &.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
  &.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
  &.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
  &.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
  &.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5) {
    opacity: 1;
  }
}

@media screen and (max-width: 840px) {
  .sp-slideshow {
    height: 345px;
  }
}

@media screen and (max-width: 680px) {
  .sp-slideshow {
    height: 285px;
  }
}

@media screen and (max-width: 560px) {
  .sp-slideshow {
    height: 235px;
  }
}

@media screen and (max-width: 320px) {
  .sp-slideshow {
    height: 158px;
  }
}

.link--surinami {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 9em;
  color: #3A4945;
  padding: 0 0 0.125em;
  position: relative;
  margin: 0 auto;
  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 3px;
    z-index: -1;
    background: #3A4945;
    position: absolute;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  &:before {
    right: 0;
    top: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  &:after {
    left: 0;
    bottom: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  &:hover {
    &:before,
    &:after {
      z-index: 9;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  span {
    position: relative;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  &:hover span {
    color: transparent;
  }
  span {
    &:before,
    &::after {
      position: absolute;
      color: #fff;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
    }
    &:before {
      content: attr(data-letters-l);
      left: 0;
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
    &:after {
      content: attr(data-letters-r);
      right: 0;
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  }
  &:hover span {
    &:before,
    &:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.mani {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  align-items: center;
  -webkit-align-items: center;
}

