.word-cloud-wrapper {
  perspective: 500px;
}
.word-cloud {
  //overflow: hidden;
  transform: rotatex(30deg);
  max-width: 685px;
  margin: 0 auto;
  position: relative;
  min-height: 500px;
  top: -50px;
  //background: url("../images/word-cloudu.jpg") no-repeat center center;
  //background-size: 100%;
  span {
    text-transform: uppercase;
    position: absolute;
    line-height: 1;
    color: $white;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2);
  }
  .w-1 {
    top: 100px;
    left: 25px;
    transform: scale(1, 1.6);
    //color: $blue1;
  }
  .w-2 {
    top: 230px;
    right: 135px;
    transform: scale(1, 1.6);
    //color: $blue1;
  }
  .w-3 {
    top: 395px;
    right: 141px;
  }
  .w-4 {
    top: 215px;
    left: 65px;
    //color: $green2;
  }
  .w-5 {
        top: 315px;
    left: 165px;
    font-weight: bold;
    transform: scale(1, 1.8);
  }
  .w-6 {
        top: 70px;
    right: 190px;
    transform: rotate(-90deg) scale(1, 1.5);
  }
  .w-7 {
            top: 360px;
    left: 60px;
    transform: rotate(-90deg) scale(1, 1.5);
  }
  .w-8 {
        right: 65px;
    top: 165px;
    font-weight: bold;
    //color: $blue6;
  }
  .w-9 {
           top: -45px;
    left: 15px;
  }
  .w-10 {
    right: 145px;
    top: 350px;
    //color: $green4;
  }
  .w-11 {
    transform: rotate(-90deg);
    right: 4px;
    top: 314px;
    //color: $blue5;
  }
  .w-12 {
        top: 100px;
    right: -15px;
    //color: $green2;
  }
  .w-13 {
        top: 305px;
    left: 10px;
  }
  .w-14 {
    transform: rotate(-90deg);
        left: -195px;
    top: 90px;
    //color: $blue5;
  }
  .w-15 {
        top: 25px;
  }
  .fz-1x {
    font-size: 12px;
  }
  .fz-2x {
    font-size: 24px;
  }
  .fz-3x {
    font-size: 36px;
  }
  .fz-4x {
    font-size: 48px;
  }
  .fz-5x {
    font-size: 60px;
  }
  .fz-6x {
    font-size: 72px;
  }
  .fz-7x {
    font-size: 84px;
  }
  .fz-8x {
    font-size: 96px;
    font-weight: bold;
  }
  .fw-b {
    font-weight: bold;
  }
}

