body {
  padding-top: $header-height;
}

.main-header {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid lightskyblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.xt-logo {
  float: left;
  .logo-img {
    background: url("../images/logo.png") no-repeat center center transparent;
    width: 60px;
    height: $header-height;
    background-size: contain;
    display: block;
  }
  .logo-text {
    font-size: 14px;
    text-transform: uppercase;
  }
}

/* .xt-main-nav {
  display: none;
} */

