::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #0ae;
}

.clearfix {
    @include clearfix;
}

.button {
	text-transform: uppercase;
}

.clear-m {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.clear-mt {
	margin-top: 0!important;
}

.clear-mb {
	margin-bottom: 0!important;
}

.clear-p {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.clear-pt {
	padding-top: 0!important;
}

.clear-pb {
	padding-bottom: 0!important;
}
