<footer class="main-footer">
  <div class="row">
    <div class="column">
      <div>&copy; XT Summit 2017</div>
      <div class="footer-links">
			  <ul class="no-bullet clearfix">
			    <li><a href="xt-credits.html">Credits</a></li>
			    <li><a href="xt-behind.html">Behind The Scenes</a></li>
			    <li><a href="xt-learn.html">Learn</a></li>
			  </ul>
			</div>
    </div>
  </div>
</footer>
