<header class="main-header">
  <div class="row">
    <div class="column">
    <div class="logo">
    	<a href="index.html" class="logo-img">
      </a>
      <!-- <span class="logo-text">summit<br>2017</span> -->
    </div>
    <% include /xt-mainNav.ejs %>
    </div>
  </div>
</header>
