<header class="main-header animated fadeInDown">
  <div class="row">
    <div class="column">
    <div class="xt-logo">
    	<a href="index.html" class="logo-img">
      </a>
    </div>
    <% include /xt-mainNav.ejs %>

    </div>
  </div>
</header>
