<nav class="main-nav">
  <ul>
    <li><a href="xt-about.html">About</a></li>
    <li><a href="xt-media.html">Media</a></li>
    <li><a href="xt-faq.html">Faq</a></li>
    <li><a href="xt-credits.html">Credits</a></li>
    <li><a href="xt-register.html">Register</a></li>
    <li><a href="xt-learn.html">Learn</a></li>
  </ul>
</nav>
