<nav role="navigation" class="xt-mobile-nav">
  <div id="menuToggle">
    <input type="checkbox" class="menuclass" />
    <span></span>
    <span></span>
    <span></span>
    <div id="menu">
      <input id="profile" class="profile" type="checkbox">
      <div class="mycube">

       <ul class="face front">
       <li><a href="index.html">Home</a></li>
    <li><a href="xt-about.html">About</a></li>
    <li><a href="xt-media.html">Media</a></li>
    <li><a href="xt-faq.html">FAQs</a></li>
    <li><a href="xt-register.html">Sign in</a></li>
    </ul>
           <!-- <li><a href="index.html">Home</a></li>
          <li><a href="xt-faq.html">FAQs</a></li>
          <li><a href="xt-register.html">Register</a></li>
          <li><a href="xt-media.html">Gallery</a></li>
          <li><a href="#">Past Apperances</a></li>
          <label for="profile">Behind The Scenes</label>
        </ul>
        <ul class="face back">
          <li><a href="xt-credits.html">Credits </a></li>
          <li><a href="xt-behind.html">Behind the Scenes</a></li>
          <label for="profile">Back</label>
        </ul> -->
      </div>
    </div>
  </div>
</nav>
