<nav role="navigation" class="xt-main-nav">
  <ul class="">
    <li><a href="index.html">Home</a></li>
    <li><a href="xt-about.html">About</a></li>
    <li><a href="xt-media.html">Media</a></li>
    <li><a href="xt-faq.html">FAQs</a></li>
    <li><a href="xt-register.html">Sign in</a></li>
  </ul>
</nav>
