<nav role="navigation" class="main-nav">
  <div id="menuToggle">
   
    <input type="checkbox" class="menuclass"/>
    <span></span>
    <span></span>
    <span></span>
    
    <div id="menu">
    	<input  id="profile" class="profile" type="checkbox">
    	<div class="mycube">
		    <ul  class="face front">
		      <a href="index.html"><li>Home</li></a>
		      <a href="xt-faq.html"><li>FAQs</li></a>
		      <a href="#"><li>Register</li></a>
		      <a href="xt-media.html"><li>Gallery</li></a>
		      <a href="#"><li>Past Apperances</li></a>
		      <label for="profile">Behind The Scenes</label>
		    </ul>
		    
			<ul  class="face back">
		      <a href="xt-credits.html"><li>Credits</li></a>
		      <a href="xt-faq.html"><li>Behind the Scenes</li></a>
		      
		      <label for="profile">Back</label>
		    </ul>
	    </div>
    </div>

  </div>
</nav>

