$tabs-width: 150px;
$tabs-height: 40px;

.tabs {
    position: relative;
    margin: 40px auto;
    input {
        position: absolute;
        z-index: 1000;
        width: $tabs-width;
        height: $tabs-height;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        &:hover + label {
            background: #5ba4a4;
        }
        &:checked + label {
            background: #fff;
            z-index: 6;
        }
        &.tab-selector-2 {
            left: $tabs-width;
        }
        &.tab-selector-3 {
            left: $tabs-width*2;
        }
        &.tab-selector-4 {
            left: $tabs-width*3;
        }
        &.tab-selector-1:checked ~ .content .content-1,
        &.tab-selector-2:checked ~ .content .content-2,
        &.tab-selector-3:checked ~ .content .content-3,
        &.tab-selector-4:checked ~ .content .content-4 {
            z-index: 100;
            opacity: 1;
            -webkit-transition: opacity ease-out 0.2s 0.1s;
            -moz-transition: opacity ease-out 0.2s 0.1s;
            -o-transition: opacity ease-out 0.2s 0.1s;
            -ms-transition: opacity ease-out 0.2s 0.1s;
            transition: opacity ease-out 0.2s 0.1s;
        }
    }
    label {
        background: #5ba4a4;
        font-size: 15px;
        width: $tabs-width;
        line-height: $tabs-height;
        height: $tabs-height;
        position: relative;
        padding: 0 20px;
        float: left;
        display: block;
        color: #385c5b;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
        border-radius: 3px 3px 0 0;
        box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
        &:after {
            content: '';
            background: #fff;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            display: block;
        }
        &:first-of-type {
            z-index: 4;
            box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
        }
        &.tab-label-2 {
            z-index: 3;
        }
        &.tab-label-3 {
            z-index: 2;
        }
        &.tab-label-4 {
            z-index: 1;
        }
    }
    .content {
        background: #fff;
        position: relative;
        width: 100%;
        height: 370px;
        z-index: 5;
        box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 0 3px 3px 3px;
        div {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 40px;
            z-index: 1;
            opacity: 0;
            -webkit-transition: opacity linear 0.1s;
            -moz-transition: opacity linear 0.1s;
            -o-transition: opacity linear 0.1s;
            -ms-transition: opacity linear 0.1s;
            transition: opacity linear 0.1s;
        }
        h2,
        h3 {
            color: #398080;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            font-style: italic;
            text-align: left;
            margin: 0;
            color: #777;
            padding-left: 15px;
            font-family: Cambria, Georgia, serif;
            border-left: 8px solid rgba(63, 148, 148, 0.1);
        }
    }
}

.clear-shadow {
    clear: both;
}
