$xt-media-width: 300px;

.xt-media-container {
  margin: 0 auto;
  label {
    width: 200px;
    height: 30px;
    cursor: pointer;
    float: left;
  }
  input {
    display: none;
    &.xt-media-selector-all:checked ~ label.xt-media-label-all,
    &.xt-media-selector-1:checked ~ label.xt-media-label-1,
    &.xt-media-selector-2:checked ~ label.xt-media-label-2,
    &.xt-media-selector-3:checked ~ label.xt-media-label-3 {
      border-bottom: 2px solid #000;
    }
    &.xt-media-selector-all:checked ~ .xt-media-items li {
      width: $xt-media-width;
      transform: scale(1, 1);
      transition: transform 0.3s linear;
    }
    &.xt-media-selector-1:checked ~ .xt-media-items .media-year-2015,
    &.xt-media-selector-2:checked ~ .xt-media-items .media-year-2016,
    &.xt-media-selector-3:checked ~ .xt-media-items .media-year-2017 {
      transition: transform 0.3s linear, width 0s linear 0.3s;
      animation: scaleUp 0.3s linear 0.4s forwards;
    }
    &.xt-media-selector-1:checked ~ .xt-media-items li:not(.media-year-2015),
    &.xt-media-selector-2:checked ~ .xt-media-items li:not(.media-year-2016),
    &.xt-media-selector-3:checked ~ .xt-media-items li:not(.media-year-2017) {
      animation: scaleDown 0.3s linear forwards;
    }
  }
}

.xt-media-items {
  position: relative;
  margin: 0px auto;
  padding-top: 20px;
  list-style: none;
  @include clearfix;
  li {
    margin: 0px;
    float: left;
    //height: 148px;
    //width: 0px;
    transform: scale(0, 0);
  }
  a {
    display: block;
    position: relative;
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 4px;
    &:after {
      content: attr(data-img);
    }
    span {
      display: block;
      background: rgba(113, 123, 161, 0.9);
      font-style: italic;
      color: #fff;
      font-weight: bold;
      padding: 20px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 120px;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      text-align: center;
      text-shadow: 1px 1px 1px #303857;
      transition: all 0.3s ease-in-out;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      &:after {
        content: attr(data-img);
      }
    }
    &:hover span {
      height: 80px;
      opacity: 1;
    }
  }
}

@keyframes scaleUp {
  50% {
    width: $xt-media-width;
    transform: scale(0, 0);
  }
  100% {
    width: $xt-media-width;
    transform: scale(1, 1);
  }
}

@keyframes scaleDown {
  0% {
    width: $xt-media-width;
    transform: scale(1, 1);
  }
  99% {
    width: $xt-media-width;
    transform: scale(0, 0);
  }
  100% {
    width: 0px;
    transform: scale(0, 0);
  }
}

